[submodule "opener/hw/sym"]
	path = opener/hw/sym
	url = git@github.com:bhase/geda-symbols.git
[submodule "sender/hw/sym"]
	path = sender/hw/sym
	url = git@github.com:bhase/geda-symbols.git
[submodule "opener/hw/pcb"]
	path = opener/hw/pcb
	url = https://bhase@github.com/bhase/pcb-footprints.git
[submodule "sender/hw/pcb"]
	path = sender/hw/pcb
	url = https://bhase@github.com/bhase/pcb-footprints.git
